/* Header */
.nav-container {
	background-color: var(--medium-blue);
	height: 7vh;
}

.nav-container__inner {
	display: flex;
	justify-content: space-between;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0.625em 0;
}

.home-link {
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: Georgia, serif;
	font-weight: bold;
	text-decoration: none;
}

.top-nav {
	display: flex;
	list-style-type: none;

}

.top-nav>li+li {
	margin-left: 0.625em;
}

.top-nav a {
	display: block;
	padding: 0.3em 1.25em;
	color: var(--white);
	background: var(--brand-blue);
	text-decoration: none;
	border-radius: 3px;

}

.top-nav a:hover {
	background-color: var(--dark-blue);
}

.top-nav__featured>a {
	color: var(--brand-blue);
	background-color: var(--white);
}

.top-nav__featured>a:hover {
	color: var(--medium-blue);
	background-color: var(--white);
}

.header__logo {
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.header__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 24px;
}

.header__login {
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 18px;
	line-height: 120%;
	color: var(--color-text);
	cursor: pointer;
}

.header__login:hover {
	color: var(--color-link-hover);
}

.header__mobile-menu-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

@media (max-width: 960px) {
	.header__login {
		display: none;
	}

	.header__mobile-menu-button {
		display: block;
	}
}

@media (max-width: 640px) {
	.header__wrapper {
		padding: 30px 24px;
	}
}

@media (max-width: 480px) {
	.header__logo {
		max-width: 174px;
	}
}

#open {
	cursor: pointer;
}