/* Measure */

.parameters__section {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.parameters__netlist {
    height: 300px;
    width: 600px;
    background-color: white;
}

.parameters {
    display: flex;
    flex-direction: row;
    gap: 60px
}

.parameters__form {
    display: flex;
    flex-direction: column;
}

.defects__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    gap: 5px;
    justify-content: center;
}

.components__section {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    gap: 10px;
}

.close__button {
    position: absolute;
    top: 80px;
    right: 0;
    padding: 0.3em;
    font-size: 2em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    border: 0;
}

.close__button::before {
    content: "\00D7";
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}